:root{
    --lightgreen1:#1abc9c;
    --lightgreen2:#2ecc71;
    --darkgreen1:#16a085;
    --darkgreen2:#27ae60;

}
h1,h2,h3,h4,h5,h6{
    font-family: 'Bungee', sans-serif;
                                                
}
.del{height: 100vh;}
p{
    font-family: 'FELL Double Pica', sans-serif;
    font-family: 'IM FELL DW Pica', sans-serif;
    font-family: 'IM FELL THREE LINE PICA', sans-serif;
    font-family: 'IM FELL English', sans-serif;
    font-family: 'IM FELL French Canon', sans-serif;
    font-family: 'FELL Great Primer', sans-serif;

}

#textAnimation{
    color: #1abc9c
}

hr{color: gray; background: gray;}
.margin-top-50{
    margin-top: 50px;
}
.margin-top-md-100{
    margin-top: 100px;
}
.z-index-0{z-index: 0;}
.container-fluid{
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.container{
position: relative;
height: 100vh;
}
.profile{
    position: relative;
    z-index: 0;
    margin: auto;
    margin-top: 50px;
    height: 100vh;
    overflow: hidden;
    background: #d5d5d5;
}
.profile header{
        width: 95%;
margin-top: 50px;
    z-index: 10000;
    margin: auto;
    background: var(--darkgreen1);
    display: flex;
    justify-content: space-between;
    align-items: center;
transition: 0.5s;
}
.profile header.sticky{margin-top: 30px; background: var(--lightgreen1);}
.profile span{
    position: absolute;
    bottom: 50%;
    left: 50%;
    pointer-events: none;
   
    clip-path: polygon( 20% 0% , 80% 0%, 100% 20%, 100% 80%,80% 100%, 20% 100%, 0% 80%, 0% 20% );
    
}

#mynavbar{
    width: 80%;
    height: 100%;
 

}
ul{
    list-style: none;
}
#mynavbar .nav{
    float: right;
}
#menu-bar{
    width: 5%;
font-size: 21px;
color: white;
}
.navbar-brand{
    width: 5% !important;height: 100%;
    color: white;
    margin-left: 30px;
    text-transform:capitalize;
}
.nav-link{
    text-transform:capitalize;
    padding-left: 10px !important;
}
.nav-link:hover{
    box-shadow:     0 0 5px var(--lightgreen1),
    0 0 10px var(--lightgreen1),
    0 0 15px var(--lightgreen1),    
    0 0 20px var(--lightgreen1);
    
    color: white !important;
background: var(--lightgreen1);
                }
        
.circle{
    position: absolute;
    width: 250px;
    height: 250px;
    bottom: 40%;
    right: 10%;
z-index: 0;
    clip-path: polygon( 20% 0% , 80% 0%, 100% 20%, 100% 80%,80% 100%, 20% 100%, 0% 80%, 0% 20% );
}
.circle::before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    clip-path: polygon( 20% 0% , 80% 0%, 100% 20%, 100% 80%,80% 100%, 20% 100%, 0% 80%, 0% 20% );
    border: 5px solid var(--darkgreen1);
transform: rotate(45deg);

z-index: 4;
opacity: 0.5;
background: var(--darkgreen1);
}
.circle::after{
    z-index: 5;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    clip-path: polygon( 20% 0% , 80% 0%, 100% 20%, 100% 80%,80% 100%, 20% 100%, 0% 80%, 0% 20% );
    border: 5px solid var(--darkgreen1);
    background: var(--darkgreen1);
/* rotate: -45deg; */

opacity: 0.5;
}

   .profile .slider-content{
    position: absolute;
    bottom: 30%;
    left:2%;
    width: 50%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;

}

.slider-content h1{
    font-size: 2.5rem !important;
    /* color: var(--darkgreen2); */
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 10px;
font-family: 'Segoe UI';
}
.slider-content h1 sup{
    color: black;
    text-transform: capitalize;
}
.slider-content h3{
    color: var(--info) ;

}
.slider-content p{
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: capitalize;
text-overflow: clip;
}
.btn{
    text-transform: capitalize;
}
.btn-group{
    width: 100%;
}

.slider-icons{
    position: absolute;
    bottom: 5%;
    width: 40%;
    padding: 15px 100px;
background:linear-gradient(90deg, var(--darkgreen1), var(--info) , var(--darkgreen2));
display: flex;
justify-content: space-evenly;
align-items: center;
}
.slider-icons a{
    font-size: 1.5rem ; 
    color: white;
}
.profile .img{
    position:absolute;
    width: 250px;
    height: 300px;
    background: url(../img/men.png) 0 0 no-repeat  ;
    background-position: center;
    background-size: cover;
    bottom: 5%;
    right: 10%;
box-shadow: 1px 2px 7px rgba( 0 ,0, 0, 0.3);
}
/* section 1 compelete */
/* section 2 start */
section .bio{
    height: 100vh;
    /* z-index: -1; */
}
.bio .bio-box{
    height: 80%;
    display: flex;
}
.bio h1{
    font-size: 4rem;
}
.bio h2{
    font-size: 2.5rem;
    color: var(--darkgreen1);
}
.left-col{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.right-col{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-col .screen{
    position: relative;
    width: 80%;
    height: 50%;
    border: 25px solid black;
    border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen img{width: 90%;}
.screen::before{
    content: "";
    position: absolute;
    width: 40%;
    height: 30%;
    background:black;
    bottom:  -42%;
    left: 30%;
    opacity: 0.9;
}
.screen::after{
    content: "";
    position: absolute;
    width: 60%;
    height: 20%;
    background: black;
    bottom:  -62%;
    left: 20%;
    transform: translateZ(40deg);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
box-shadow: 0 5px 100px black,
            20px 0px 20px rgb(102, 101, 101),
            -5px 0px 20px black,
            0px 5px 20px black
            ;
}
.bio-icons{
    height: 100%;
    position: relative;
    display: flex;
    justify-content:  center;
    align-items: center;
    flex-flow: column;
    
}
.bio-icons .small-circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--info);
    display: flex;
    justify-content: center;
    align-items: center;
cursor: pointer;
}
.bio-icons .line{
    width: 2px;
    height: 40px;
    background: var(--info);
}
.bio-icons .small-circle i{
    font-size: 1.5rem;
    color: black;
    transition: 0.5s;
}
.small-circle.active{
    background: var(--info);
color: white;


}
.small-circle:hover{background: var(--info) !important;}
.small-circle:hover i{color: white;}
.small-circle.active i{color: white;}
.bio-content{
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    transform: translateY(15%);
bottom: 0;

}
.bio-content h3{text-transform: capitalize; }
.bio-content h3 span{color: var(--info); }

/* section 2 compeleat */
/* section 3 start */
#details{
    height: 250vh;
}
.personal-info{
    height: 35vh;
    
}

.personal-info .imgbox{
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.personal-info .img-border{
position: absolute;
top: 0;
    width: 60%;
    height: 80%;
    border: 4px solid var(--darkgreen1);
box-shadow: 
 0 0 5px var(--darkgreen1),
 0 0 10px var(--darkgreen1),
 0 0 15px var(--darkgreen1),
 0 0 20px var(--darkgreen1),
 0 0 25px var(--darkgreen1)
;
z-index: 2;
overflow: hidden;
}
.img-border i{
    position: absolute;
    border-radius: 50%;
} 
.personal-info .img{
    width: 50%;
    height: 80%;
    bottom: 0;
    position: absolute;
    z-index: 5;
    box-shadow: 
    2px 4px 5px   gray,
    4px 2px 10px gray ,
    0 0 15px gray  ;
}
.img img{width: 100%; height: 100%;}

.personal-info .personal-content{
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    /* background: #d5d5d5; */
}
.service-info{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
}
.service-info .service-icons{
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    margin-bottom: 50px;
    transition: 0.5s;
}
.service-icons:hover{
    transform: translateY(50px)  !important;
box-shadow: 0 20px  5px var(--info),
            0 20px  10px var(--darkgreen2),
            0 20px  15px var(--info),
            0 20px  20px var(--info)
             ;
}
.service-icons a{
    font-size: 2.5rem;

}
/* section 3 Compeleate */
/* section 4 :start here */
#project{
height: 150vh;

}
.gallery{
    height: 60vh;
margin-bottom: 25px;
}
.gallery .img{
    height: 65%;
    width: 100%;
display: grid;
place-items: center;
background:linear-gradient(180deg, var(--darkgreen1), var(--info) ,var(--lightgreen1) , var(--success) ,var(--cyan) , var(--darkgreen2));
}
.img img{width: 100%; height: 100%;}
.gallery .content{
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
}
/* section 4 compelete */
/* section 5 start */
.skills{
    height: 70vh;
}
@media (max-width:400px) {
    .skills{
        height: auto;
    }
}
/* section 6 start */
.contact-form{
    position: relative;
    
    height: 100vh;

}
.main{
    height: 100%;
}
#blockAnimation{
    overflow: hidden;
}
#blockAnimation .block{
    position: absolute;
    width: 50px;
    height: 50px;

}


.contact-form .text{
    height: 100%;
    position: relative;
    z-index: 0;
background: var(--lightgreen2);
color: white;

}
 .text::before ,.text::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 25px;
    right: 0;
    top: 10%;
    background: white;
    z-index: 3633;
    border-top-left-radius:20px ;
    border-bottom-left-radius:20px ;
}
.text::after{
    top: 15%;
    width: 60px;
}
.leftangle{
    position: absolute;
    bottom:  0;
    left: 0;
    height: 50%;
    background: var(--lightgreen1);
    clip-path: polygon( 0% 100%, 100% 100%, 0 0 );
    z-index: 3;
    
}

.rightangle{
    z-index: 2;
    position: absolute;
    bottom:  0;
    right: 0;
    height: 50%;
    background: var(--darkgreen1);
    clip-path: polygon( 0% 100%, 100% 100%, 100% 0 );
}
.form{
    position: relative;
}
form{
    height: 80%;
display: flex;
justify-content: space-around;
align-items: center;
flex-flow: column;
}
.form::before ,.form::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 25px;
    left: 0;
    bottom: 10%;
    background: var(--info);
    z-index: 3633;
    border-top-right-radius:20px ;
    border-bottom-right-radius:20px ;
}
.form::after{
    bottom: 15%;
    width: 60px;
    background: var(--success);

}
.form .form-group{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
flex-flow: row;        
}
.form-group input{
border: 1px solid gray;
}
@media (max-width:768px) {
    .contact-form{height: 150vh;}
    .main{height: 100% !important; }
    .text{ height: 30% !important;  flex-flow: column !important;}
    
    .text::after , .text::before{
        top: 71% !important;
         left: 15%;
         width: 25px;
         height: 100px;
         border-top-left-radius:20px ;
         border-top-right-radius:20px ;
            border-bottom-left-radius: 0;
    }
    .text::before{
        margin-left: 20px;
        height: 70px;
      top: 80% !important;
        left:20%
    }
    .form::before ,.form::after{
        content: "";
        position: absolute;
        width: 25px;
        height: 100px;
        left: 80%;
        top: 0%;
        background: var(--info);
        z-index: 3633;
        border-top-right-radius:0px ;
        border-bottom-left-radius:20px ;
        border-bottom-right-radius:20px ;
    }
    .form::after{
        left: 70%;
        height: 70px;
        background: var(--success);
    
    }
    .form{height: 70%; 
        display: flex;
        justify-content: space-evenly;
align-items: center;
flex-flow: column;
        }
    form{
        position: absolute;
        top: 10%;
        left: 0;
    }
        .form-group, 
     .form-message {  
flex-flow: column !important;

    }
    .form-group input , .form-message textarea{
        width: 100% !important;
    }
    .form-message label{
        text-align: left !important;
        width: auto;
    }
    .form-icons{
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
.form-message{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #27ae60;
}
.form-message textarea{
    width: 75% !important;
    border:  1px solid gray;
}
.form-group.active {
    color: white;
    background-color: #27ae60;

}
.form-icons{
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.form-icons a{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid gray;
    color: black;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.52s;
}
.form-icons a:hover{
    text-decoration: none;
    background: var(--info);
    border: 1px solid var(--info);
    color: white;
}
/* footer start */
footer.container{
    height: 75vh;
}
.footer-bx{
height: 50%;
display: flex;
justify-content: center;
align-items: center;
flex-flow: column;
color: white;
}
footer p{
    font-size: 15px;
}
@media (max-width:768px){
    footer.container{
        position: relative;
        height: auto !important;
    }
    .footer-email{
        position: relative;
        width: 100%;
        height: 250px !important;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    footer.container  form{
        width: 100%;
        height: 60px;
      transform: translateY(100%);
        align-self: flex-end;
        background: red;
    } 
    footer .btn3{
        display: block;
        width: 100%;
        margin-top: 10px;
    }
}